.SessaoBanner 
{
    position: relative;
    top: 100px;
}

.SessaoBanner img 
{
    width: 100vw;
    height: 100%;
    min-height: 350px;
    max-height: 850px;
}
.SessaoBanner .camadaCinza 
{
    position: absolute;
    background: #515151;
    opacity: .6;
    top: 0;
    width: 100vw;
    height: 99%;
    min-height: 350px;
    max-height: 850px;
}

.SessaoBanner .Conteudo 
{
    position: absolute;
    Width: 500px;
    Top: 15%;
    Left: 2%;
    text-align: center;
}

.SessaoBanner .Conteudo  h1
{
    color: #fff;
    font-size: 50px;
}
.SessaoBanner .Conteudo .btn-contrate
{
    margin-top: 15px;
    background-color: #47B359;
    color: #fff;
    border: none;
    border-radius: 5px;
    Width: 300px;
    Height: 60px;
    font-size: 1.2em;
}
button
{
    outline: none;
}
.SessaoBanner .Conteudo .btn-contrate a
{
    text-decoration: none;
    color: #fff;
}

@media(max-width: 850px) {
    .SessaoBanner img 
    {
        height: 80%;
    }
    .SessaoBanner .camadaCinza 
    {
        height: 80%;
    }
    .SessaoBanner .Conteudo
    {
        Width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
        Top: 50px;
    }
    .SessaoBanner .Conteudo h1
    {
        width: 390px;
        font-size: 40px;
        margin-bottom: 35px;
    }
    .SessaoBanner .Conteudo .btn-contrate a
    {
        font-size: 20px;
    }
}

@media (max-width: 400px) 
{
    .SessaoBanner .Conteudo h1 {
        width: 340px;
        font-size: 35px;
        margin-bottom: 35px;
    }
    .SessaoBanner .Conteudo 
    {
        Top: 75px;
    }
}

@media(max-width: 365px) {
    .SessaoBanner .Conteudo 
    {
        Top: 90px;
    }
    .SessaoBanner .Conteudo h1
    {
        width: 292px;
        font-size: 30px;
    }
    .SessaoBanner .Conteudo .btn-contrate
    {
        Width: 270px;
    }

}